@page "/readme"
@using Triggered.Extensions
@using Triggered.Models
@inject GitHubService GitHubService

<PageTitle>TR⚡GGERED - README</PageTitle>

<div class="markdown-body">
    @ReadmeMarkupString
</div>

@code {
    private MarkupString ReadmeMarkupString;

    protected override async Task OnInitializedAsync()
    {
        ReadmeMarkupString = await GitHubService.GetReadmeMarkupAsync();
        await base.OnInitializedAsync();
    }
}