@media (min-width: 800px) {

    .sidebar {
        border-right: solid 2px #20c2c2;
    }

    .sidebar-list {
        margin-right: 2rem;
    }
}

@media (max-width: 800px) {
    .sidebar {
        border-bottom: solid 2px #20c2c2;
        margin-bottom: 1.5rem;
    }

    .sidebar-list {
        margin-bottom: 1rem;
    }
}

.sidebar {
    grid-area: sidebar;
}

.sidebar-list {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    display: block !important;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-left: -0.25rem;
    overflow-y: auto;
}

    .sidebar-list .btn-event {
        padding: 0.25rem 0.5rem;
        font-weight: 600;
        color: rgba(255,255,255,0.65);
        background-color: transparent;
        border: 0;
    }

        .sidebar-list .btn-event > .bi::before {
            width: 1.25em;
            line-height: 0;
            transition: transform 0.35s ease;
            transform-origin: 0.5em 50%;
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
        }

    .sidebar-list .collapsed > .bi::before {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }

    .sidebar-list .btn-event:focus {
        box-shadow: 0 0 0 1px rgb(32 194 194 / 70%);
    }

    .sidebar-list .btn-event:hover, .sidebar-list .btn-event:focus {
        color: rgba(255,255,255,0.85);
        background-color: rgba(32,194,194,0.1);
    }

    .sidebar-list .btn-module-load:focus, .sidebar-list .btn-module-load.selected {
        box-shadow: 0 0 0 1px rgb(32 194 194 / 70%);
    }

    .sidebar-list .btn-module-load:hover, .sidebar-list .btn-module-load:focus, .sidebar-list .btn-module-load.selected {
        color: rgba(255,255,255,0.85);
        background-color: rgba(32,194,194,0.1);
    }

    .sidebar-list .btn-module-load span {
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .sidebar-list .btn-module-delete:focus {
        box-shadow: 0 0 0 1px rgb(220 53 69 / 70%);
    }

    .sidebar-list .btn-module-delete:hover, .sidebar-list .btn-module-delete:focus {
        color: rgba(220, 53, 69, 0.85);
        background-color: rgba(220, 53, 69, 0.1);
    }

.sidebar .btn-module-add:focus {
    box-shadow: 0 0 0 1px rgb(25 135 84 / 70%);
}

.sidebar .btn-module-add:hover, .sidebar-list .btn-module-delete:focus {
    color: rgba(25, 135, 84, 0.85);
    background-color: rgba(25, 135, 84, 0.1);
}