@using Microsoft.Extensions.Caching.Memory

<div class="top-row navbar navbar-dark">
    <div class="container-fluid flex-nowrap">
        <a class="navbar-brand mx-2" href="">
            <img height="25" src="assets/Triggered.png" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-fill me-2" aria-hidden="true"></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/modules" Match="NavLinkMatch.All">
                <i class="bi bi-code-slash me-2" aria-hidden="true"></i> Modules
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/testing" Match="NavLinkMatch.All">
                <i class="bi bi-clipboard2-check-fill me-2" aria-hidden="true"></i> Testing Center
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/configuration" Match="NavLinkMatch.All">
                <i class="bi bi-gear-fill me-2" aria-hidden="true"></i> Configuration
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/readme" Match="NavLinkMatch.All">
                <i class="bi bi-info-circle-fill me-2" aria-hidden="true"></i> README
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
